<a href="https://colab.research.google.com/github/PaoloF94/UMBC-IS296-Spring2022/blob/main/cross_training_session.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Welcome! 
run the cell below, you will see a welcome message! 

To run a cell, you may hit SHIFT + RETURN Button to click the run button on the upper left corner of the cell

*Can you figure out how to change the color of the message?*

In [ ]:
%%html 
<marquee style='width: 20%; color: red;'><b>Welcome to Cross Training! Testing</b></marquee>

# Setup 
Just run the following cells once for installation and loading packages

Either click the run button or hit SHIFT + RETURN

In [ ]:
# data science package
!pip install datascience
from datascience import *
import numpy as np

In [ ]:
#Google text to speech package
!pip install gTTS
from gtts import gTTS #Import Google Text to Speech
from IPython.display import Audio #Import Audio method from IPython's Display Class

# 1. Warm up - Say Hello
This will allow you type your name and ask Google to say hello to you using text to speech

In [ ]:
# replace this array with the first name of your group members
names = make_array('Angelica','Egan','Karen','Hannah') 
# change the index so that Google can say hello each of your group members, you may also change the greetings
speech = 'Hello ' + names[0] + ' how are you today' 
print(speech)
tts = gTTS(speech) 
tts.save('1.wav')
sound_file = '1.wav'
Audio(sound_file, autoplay=True)

# 2. Warm Up - Would You Rather
Take turn among your group members. 

Run the following cell will spit out a random would-you-rather question. Have fun!

In [ ]:
url = 'https://raw.githubusercontent.com/lujiec2020/UMBC-IS296-Spring2022/main/data/would-you-rather.csv' 
question_table = Table.read_table(url)
n = question_table.num_rows
random_number = np.random.randint(0,n-1)
question = question_table.column('questions')[random_number]
print (question)

# 3. Fixing the Table

**(this excercise is written by Tirth Patel)**

So you work in a restaurant and this is a Table of orders from a table you serve. You were in a hurry so that the table head is messed up, can you help to fix the table head so that it looks neat?

In [ ]:
orders = Table().with_columns('Names', make_array('Joe', 'Sara', 'Sam', 'Jen'), 
                              'oRdeer', make_array('Burger', 'Fries', 'Salad', 'Tacos'), 
                              'QuaEntity', make_array(2, 5, 3, 3), 
                              'Drinks', make_array('Y', 'N', 'Y', 'Y'))
orders

Names | oRdeer | QuaEntity | Drinks
Joe   | Burger | 2         | Y
Sara  | Fries  | 5         | N
Sam   | Salad  | 3         | Y
Jen   | Tacos  | 3         | Y

In [ ]:
#1. please relabel the first column to be "Guest" using the name of the column.
table1 = orders.relabeled('Names','Guest')
table1

In [ ]:
#2. please relabel the second column to be Order using the index of the column.
table2 = table1.relabeled(1,'Order')
table2

In [ ]:
# please relabel the third column to be Quantity using either the column name or index.
table3 = table2.relabeled(2, 'Quantity')
table3

In [ ]:
# count how many orders you have?
table3.num_rows

In [ ]:
# from the orders table, write code to output the list of guests who has ordered drink?
table3.where('Drinks', 'Y').select('Guest')

In [ ]:
# from the orders table, write code to output the number of guests who has ordered drink?
table3.where('Drinks', 'Y').select('Guest').num_rows

In [ ]:
#what are other curious questions you have about the table?

In [ ]:
#can you add a column to the table called "dessert" which holds the ordered dessert for each customer?

# 4. Create your own table
Now you are brave enough to create your own tables and use the newly learned skills to explore the table, here are some ideas proposed by our students.

## Sports - by Alek Wroblewski
Create a table with sports, and rate them from 1-5. 5 being best, 1 being worst. 

Have at least 5 sports, the table should have 2 columns and 5 rows. 

Then print out the following two queries: 
1. Sort the table in descending order, best to worst sports. 
2. output the best sport

In [ ]:
sports = ...
sports

Ellipsis

## Cars - by Cheikh Ndiaye
Create a table with your five favorite cars and their speeds in miles per hour (mph). Make sure to name 1st column as "Name of Car", and 2nd column as "Speed" 

1. Calculate the average of all the speeds (hint use np.avarege)
2. sorts the table by speeds in descending order

In [ ]:
cars = ...
cars

Ellipsis

## Foods - by David Seo

Create a table with your favorite foods and the estimation of how much they cost. The table should have at least 7 rows. Then print out the following two queries:

1. Print out the table but with the prices in descending order
2. Print out the total price of all items

In [ ]:
foods = ...
foods

Ellipsis

## Songs - by Huimin Li
Create a table contains your 5 most favorite songs with the name of the songs, the artists’ name, the artists’ age, the released date, the length of the songs.

1. Sort the songs by the released date.

2. Show the first 5 rows of this table.

3. Calculate the mean of the artists’ age.

In [ ]:
songs = ...
songs

## Monthly Spendings - by Ayesha Khalid


Create a table with your monthly spendings. 
*  The first column is the item such as food, gas, memberships, groceries, rent; 
*  The second column is the cost of each 
*  The third column is a flag whether they are important, if they are important, mark as "Y", otherwise "N"


1. return an item that cost the most (hint, you will need to use sort function)
2. return a list of items that are important for you
3. calculate the total spendings for all important items 
4. create variable budget that store your monthly budget
5. calculate the leftover budget after all necessities

In [ ]:
spendings = ...

## Video Games - by Moses Lian

Make a table with 5 rows of the most popular video games from 2009-2020. 
1. the first column is the name of the video game;
2. the second column is the Popularity, which is measured by the amount sold within a period
3. the third column is Revenue, which is the sales revenue of the video games from launch release till the end of the 2nd month.

In [ ]:
games = ...

## Family Members - by Shashidhar Manoharan

Create a Table that contains each of your immediate family members (mother, father, brother, sisters, and yourself). 
1. The table should have a column for the family members name, age, and gender
2. Next, order the data in ascending order so that the youngest family member is at the top of the table, and the oldest family member is at the bottom of the table. 
3. Finally, print the sum of the family members’ ages using python commands.

In [ ]:
family = ...

## Food places - by Hannah Boyad

Create a table of your own, based on the most recent fast-food places you've visited, how many times you've visited them this year, and the most common item you've ordered from their menu. 

*If you're not a fan of it, you can just make a table using the recent food you've eaten, how often you ate it this year, and where you ate it.*

In [ ]:
food_places = ...